<div class="main-panel" *ngIf="(currentSong | async) !== null">
  <div class="name-and-author">
    <span>{{(currentSong | async).name}}</span> - <span>{{(currentSong | async).author}}</span>
  </div>
  <div class="progress">
    <div class="current-position">{{formatTime(position$ | async)}}</div>
    <div class="song-slider">
      <span>0</span>
      <mat-slider min="0" [value]="position$ | async" [max]="(currentSong | async).duration" (change)="seek($event)"></mat-slider>
      <span>{{(currentSong | async).formattedDuration}}</span>
    </div>
  </div>
</div>
