<div class="folder" [class.onDrag]="highlightOnDrag">
  <div class="name-and-controls">
    <div class="folder-name" [class.active]="active" (click)="toggle()">{{playlist.name}} ({{playlist.songs.length}})</div>
    <div class="buttons">
      <button class="playlist-buttons" mat-icon-button (click)="removePlaylist($event, playlist.name)">
        <mat-icon>remove</mat-icon>
      </button>
      <button class="playlist-buttons" mat-icon-button (click)="addFiles($event)">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <div class="songs-list" [class.hidden]="wrapped">
    <rp-song (selectSong)="playSong(i)" [song]="song" *ngFor="let song of playlist.songs; let i = index"></rp-song>
  </div>
</div>
