<div class="folder">
  <div class="name-and-controls">
    <div class="folder-name">{{playlist.name}}</div>
    <div class="buttons">
      <button class="playlist-buttons" mat-icon-button (click)="removePlaylist(playlist.name)">
        <mat-icon>remove</mat-icon>
      </button>
      <button class="playlist-buttons" mat-icon-button (click)="addFiles()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <div class="songs-list">
    <rp-song (selectSong)="playSong(i)" [song]="song" *ngFor="let song of playlist.songs; let i = index"></rp-song>
  </div>
</div>
