@import "../../../../colors";

:host {
  display: flex;
  flex-direction: column;
}

.search-wrapper {
  height: 8vh;
  justify-content: center;
  align-items: flex-end;
  display: flex;
  padding: 0 20px;

  mat-form-field {
    width: 100%;
  }
}

.songs-container {
  padding: 0px 15px;
  overflow: scroll;
  height: 92vh;
}

.no-playlists {
  color: grey;
  text-align: center;
  font-size: 16px;
  height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
