@import "../../../../colors";


.song-list-item {
  padding: 4px 4px;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3px;
  border: 1px solid transparent;

  .author-and-name {
    flex: 5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .time {
    flex: 1;
    text-align: right;
  }

  &.active {
    border: 1px solid $song-border-color;
    transition: border .2s ease-in;
  }

  &:hover {
    border: 1px solid $song-border-color;
    transition: border .2s ease-in;
    cursor: pointer;
  }
}
