@import "../../../../colors";


.song-list-item {
  padding: 4px 4px;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3px;
  border: 1px solid transparent;

  &:hover {
    .remove-button {
      opacity: 1 !important;
      transition: opacity .3s ease-in;
    }
  }

  .author-and-name {
    flex: 5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .time-and-remove {
    flex: 1;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .remove-button {
      opacity: 0;
      transition: opacity .3s ease-in;
      margin-right: 10px;
    }

    mat-icon {
      width: 16px !important;
      height: 16px !important;
      font-size: 16px;
      line-height: 15px;
    }

    .mat-icon-button {
      width: 16px !important;
      height: 16px !important;
      font-size: 16px;
      line-height: 16px;
    }
  }

  &.active {
    border: 1px solid $song-border-color;
    transition: border .2s ease-in;
  }

  &:hover {
    border: 1px solid $song-border-color;
    transition: border .2s ease-in;
    cursor: pointer;
  }
}
