<div class="song-list-item" [class.active]="isActive$ | async" (click)="play()">
  <div class="author-and-name" title="{{song.author}} - {{song.name}}">
    <span class="song-author">{{song.author}}</span> - <span class="song-name">{{song.name}}</span>
  </div>
  <div class="time-and-remove">
    <button mat-icon-button class="remove-button" (click)="onRemoveSong($event, index)">
      <mat-icon color="warn">remove</mat-icon>
    </button>
    <span class="duration">{{song.formattedDuration}}</span>
  </div>
</div>
