
:host {
  flex: 1;
  display: flex;
}

.main-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  height: 100vh;

  .name-and-author {
    font-size: 48px;
  }

  .progress {
    width: 50%;
    .current-position {
      font-size: 24px;
      margin-top: 10px;
      text-align: center;
      color: crimson;
    }

    .song-slider {
      width: 100%;
      display: flex;
      align-items: center;

      mat-slider {
        flex: 1;
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }
}
