<div class="header">
  <div class="controls">
    <div class="playback-controls">
      <button mat-icon-button (click)="prev()" [disabled]="disabled$ | async">
        <mat-icon>skip_previous</mat-icon>
      </button>
      <button mat-icon-button (click)="stop()">
        <mat-icon>stop</mat-icon>
      </button>
      <button mat-icon-button *ngIf="isPlaying$ | async" (click)="pause()">
        <mat-icon>pause</mat-icon>
      </button>
      <button mat-icon-button *ngIf="(isPlaying$ | async) === false" (click)="play()">
        <mat-icon>play_arrow</mat-icon>
      </button>
      <button mat-icon-button (click)="next()" [disabled]="disabled$ | async">
        <mat-icon>skip_next</mat-icon>
      </button>
    </div>
    <div class="volume-control">
      <mat-slider min="0" step="0.01" max="1" [value]="volume" (change)="setVolume($event)"></mat-slider>
    </div>
  </div>

  <div class="settings">
    <label for="songs-per-pl" class="songs-per-pl-label">Songs per playlist:</label>
    <input type="number"
           [(ngModel)]="songsPerPlaylist"
           (ngModelChange)="onSongsNumberChange($event)"
           id="songs-per-pl" style="width: 50px"
           min="1"
           max="10" placeholder="Songs per playlist" />
    <button class="add-folder" mat-button color="primary" (click)="showAddPlayListDialog()">
      <mat-icon style="margin-top: -3px">add</mat-icon>
      Add playlist
    </button>
<!--    <button mat-icon-button>-->
<!--      <mat-icon>settings</mat-icon>-->
<!--    </button>-->
  </div>

</div>
