<div class="header">
  <div class="controls">
    <div class="playback-controls">
      <button mat-icon-button>
        <mat-icon>skip_previous</mat-icon>
      </button>
      <button mat-icon-button *ngIf="isPlaying$ | async" (click)="pause()">
        <mat-icon>pause</mat-icon>
      </button>
      <button mat-icon-button *ngIf="(isPlaying$ | async) === false" (click)="play()">
        <mat-icon>play_arrow</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>skip_next</mat-icon>
      </button>
    </div>
    <div class="volume-control">
      <mat-slider min="0" max="100"></mat-slider>
    </div>
  </div>

  <div class="settings">
    <button class="add-folder" mat-button color="primary" (click)="showAddPlayListDialog()">
      <mat-icon style="margin-top: -3px">add</mat-icon>
      Add playlist
    </button>
    <button mat-icon-button>
      <mat-icon>settings</mat-icon>
    </button>
  </div>

</div>
