@import "../../colors";

:host {
  .main-container {
    height: 100vh;
    width: 100%;
    display: flex;

    .left {
      background: $left-side-color;
      flex-basis: 15%;
      border-right: 1px solid $border-color;
    }

    .right {
      flex: 1;
      display: flex;
      flex-direction: column;
      background: #fff;

      .header {
        flex-basis: 10%;
        border-bottom: 1px solid $border-color;
        display: flex;
        align-items: center;
        padding-left: 25px;

        .playback-controls {
          display: flex;
          justify-content: space-around;
          flex-basis: 12%;
        }

        .playback-controls fa-icon {
          font-size: 24px;
          color: $playback-button-color
        }
      }
    }
  }
}
